.note.move.color-style{ id: note_css_id, data: note_dataset, style: note_css_style }
  .main
    .hearts= hearts
    %p.note-group-name= group_name
    %p.note-text= text
    %p.survey-answer-vote= voting_controls
  %i.move.bi-arrows-move{ title: "drag here" }
