%h3 What is this?
%p= "We are using an experimental AI Assistant created by #{link_to "Kai Mantsch", "https://emergent-commons.mn.co/members/7154088"} and #{link_to "Kevin Triplett", "https://emergent-commons.mn.co/members/7698608"}. The name of this particular assistant is \"Modi\". There may be other assistants created as we learn more."
%h3 What is the purpose?
%p This is just an experiment and not intended to rate members of EC. This is only used for authors to get feedback on their posts and comments. It is also for the community to see how posts and comments are assessed from an "objective as possible" evaluator.
%h3 What's next?
%p Kevin and Kai are the developers and there are plan to include a "re-assessment" button, in case an author edits their post or comment to incorporate suggestions from the assistant.
%h3 What if it's wrong?
%p While the assistant is able to take context from the post or comment, it cannot (at this time) take context from the discussion thread. So it may not understand references to other text or events. It also does not understand humor. So it may get some things wrong and hopefully that's okay, because humans can understand humor and the broader context and take what the assistant assesses within this understanding.