%img{ src: "/images/ec-elephant.jpg", width: "100%" }
.center
  %form{action: send_magic_link_url, method: "put"}
    %input{name: "email", type: "text", placeholder: "Email"}
    %button.btn.btn-warning Send My Magic Link