%img{ src: "/images/ec-elephant.jpg", width: "100%" }
.center
  %input{type: "text", placeholder: "Your Mighty Networks Email"}
  =link_to("Send My Magic Link", user_login_url, class: "btn btn-primary")