.note.color-style{ id: note_css_id, data: note_dataset, style: note_css_style }
  .tools
    .feedback
      %i.bi-check.hidden
      %i.bi-exclamation.hidden
    %button.move
      %i.bi-list.my-sortable-handle
    %button.colorpicker.color-style{ data: {group_id: group_id}, style: "background-color: #{color}" }
      %i.bi-circle
    %p.note-group-name
      %select
        - survey_group_names.each do |o|
          - selected = (o == note.group_name ? "selected" : nil)
          %option{ selected: selected }= o
    %button.delete{ data: {url: delete_url, method: "delete", confirm: "Are you sure you want to delete this note?"} }
      %i.bi-trash3
    %input.colorpicker{type: "hidden", value: color}
  .main
    %p.note-text.contenteditable{ contenteditable: true }= text
