.survey-question{ id: row_id, data: {url: patch_url, token: token} }
  %div{ class: question_type_class }
    = question
    - if answer_type?
      %div{ class: answer_type_class, data: {group_position: group_position, question_position: question_position} }
        = user_answer
    - if has_scale?
      .survey-answer-scale-question
        = scale_question
      .survey-answer-scale{ data: {group_position: group_position, question_position: question_position} }
        = answer_scale
