%p this is the survey invite show view

%p= "Survey: #{@survey_invite.survey.name}"

- @survey_questions.each do |sq|
  = cell(SurveyInvite::Cell::SurveyQuestion, {survey_invite: @survey_invite, survey_question: sq})