%h5= "Notes for #{@survey.name}"

.d-flex.flex-wrap.sortable#notes-container{ data: {url: @patch_url, token: @token} }
  - @notes.each do |note|
    = cell(Note::Cell::Grid, {note: note, patch_url: @patch_url, new_url: @new_url})

%button.add.btn.btn-primary{ data: {url: @new_url} } Add Note