@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body#notes {
  background-color: #9fc0c8;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 1rem;

  .container {
    margin: 0px;
    max-width: 100%;
  }

  .links {
    margin-top: 3px;
    .btn {
      position: initial;      
    }
  }

  #notes-container {
    .live-view {
      position: fixed;
      top: 0px;
      right: 10px;
    }
    .note {
      // ref https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting
      // According to "Can I use" the user-select + -webkit-user-select for Safari is enough to
      // achieve desired behavior in all major browsers.
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;

      .main {
        padding: 10px 5px 5px 30px;
  
        .survey-answer-vote {
          position: absolute;
          top: 0px;
          left: 4px;
          margin: 0px;
          padding: 0px;
  
          .vote-up, .vote-down {
            margin-bottom: 0px;
            cursor: pointer;
            font-size: large;
          }

          .vote-count {
            font-size: normal;
            margin-left: 3px;
            text-align: center;
          }

          .votes-left {
            font-size: smaller;
            margin-left: 3px;
            text-align: center;
          }
        }
  
        .survey-answer-vote {
          z-index: 10;
        }

        .hearts {
          font-size: x-large;
          position: absolute;
          top: -10px;
          left: -11px;
          .one-third {
            color: rgb(8, 0, 255);
          }
          .two-thirds {
            color: rgb(238, 0, 255);
          }
          .three-thirds {
            color: rgb(255, 0, 0);
          }
        }
      }
  
    }
  }
  
  &.admin {
    .btn {
      position: fixed;
      z-index: 200;

      &.add-note {
        top: 1rem;
        right: 19rem;
      }

      &.new-group {
        top: 1rem;
        right: 9rem;
      }

      &.return {
        top: 1rem;
        right: 0rem;
      }
    }

    .ui-selectmenu-button.ui-button {
      width: auto;
    }

    .tools {
      background-color: #9ec862;
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem;
      height: 44px;

      button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 0.1rem;
      }

      .delete {
        position: relative;
        top: 0px;
        left: 10px;
      }

      .move {
        position: relative;
        top: 0px;
        left: 4px;
        transform: scale(2, 2);
      }

      .colorpicker {
        position: relative;
        top: 6px;
        left: 5px;
        border-radius: 15px;
        height: 18px;
        width: 18px;

        .bi-circle {
          top: -1px;
          left: -5px;
          position: relative;
          height: 5px;
          color: black
        }
      }

      .feedback {
        position: relative;
        top: 170px;
        left: 175px;
        transform: scale(2, 2);
      }

      .bi-check {
        color: darkgreen;
      }

      .bi-exclamation {
        color: red;
      }

      .note-group-name {
        text-align: center;
        position: relative;
        top: -4px;
        left: 14px;
      }
    }
  }
}

body#notes,
body#survey {
  .btn {
    width: 125px;
    &:active {
      transform: scale(0.96);
    }
  }

  .move {
    cursor: pointer;
  }

  .note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 0px;
    height: 200px;
    width: 200px;
    line-height: 1.2em;
    overflow-y: visible;
    position: absolute;

    .note-group-name {
      font-family: 'architects_daughterregular', Arial, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: medium;
      position: absolute;
      top: -1px;
      text-decoration: underline;
    }

    .note-text {
      font-family: 'architects_daughterregular', Arial, sans-serif;
      font-weight: bolder;
      font-style: normal;
      font-size: normal;
      padding-top: 7px;
    }

    .main {
      padding: 10px;
    }
  }

  .hidden {
    display: none;
  }
}
