@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body#notes {
  background-color: #9fc0c8;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 1rem;

  .container {
    margin: 0px;
    max-width: 100%;
  }

  #notes-container {
    .links {
      margin-top: 3px;
      .btn {
        position: initial;      
      }
    }
    .live-view {
      position: fixed;
      top: 0px;
      right: 10px;
    }
  }
  
  &.admin {
    .btn {
      position: fixed;
      z-index: 200;

      &.add-note {
        top: 1rem;
        right: 19rem;
      }

      &.new-group {
        top: 1rem;
        right: 9rem;
      }

      &.return {
        top: 1rem;
        right: 0rem;
      }
    }

    .ui-selectmenu-button.ui-button {
      width: auto;
    }

    .tools {
      background-color: #9ec862;
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem;
      height: 44px;

      button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 0.1rem;
      }

      .delete {
        position: relative;
        top: 0px;
        left: 5px;
      }

      .move {
        position: relative;
        top: 2px;
        left: 0px;
        transform: scale(2, 2);
      }

      .colorpicker {
        position: relative;
        top: 6px;
        left: 2px;
        border-radius: 15px;
        height: 18px;

        .bi-circle {
          top: -2px;
          position: relative;
          margin: -10px;
          height: 5px;
          color: black
        }
      }

      .feedback {
        position: relative;
        top: 170px;
        left: 175px;
        transform: scale(2, 2);
      }

      .bi-check {
        color: darkgreen;
      }

      .bi-exclamation {
        color: red;
      }

      .note-group-name {
        position: relative;
        top: -2px;
      }
    }
  }
}

body#notes,
body#survey {
  .btn {
    width: 125px;
    &:active {
      transform: scale(0.96);
    }
  }

  .note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 200px;
    width: 200px;
    line-height: 1.2em;
    overflow-y: visible;
    position: absolute;

    .note-group-name {
      font-family: 'architects_daughterregular', Arial, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: medium;
      position: absolute;
      top: -1px;
      left: 7px;
      text-decoration: underline;
    }

    .note-text {
      font-family: 'architects_daughterregular', Arial, sans-serif;
      font-weight: bolder;
      font-style: normal;
      font-size: normal;
      padding-top: 7px;
    }

    .main {
      padding: 10px;

      .survey-answer-vote {
        position: absolute;
        top: 150px;
        font-size: x-small;

        .vote-up, .vote-down {
          margin-right: 5px;
          cursor: pointer;
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}
