@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body#survey {
  #notes-container {
    .links {
      margin-top: 3px;

      .btn {
        position: initial;      
      }
    }
  }
}

body#notes {
  .btn {
    position: fixed;
    z-index: 200;

    &.add-note {
      top: 1rem;
      right: 2rem;
    }

    &.new-group {
      top: 4rem;
      right: 1rem;
    }

    &.return {
      top: 7rem;
      right: 1rem;
    }
  }
}

body#notes,
body#survey {
  background-color: #9fc0c8;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
  
  .container {
    margin: 0px;
    max-width: 100%;
  }
  
  .btn {
    width: 150px;

    &:active {
      transform: scale(0.96);
    }
  }

  .note {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 30px 20px;
    height: 350px;
    width: 350px;
    overflow-y: hidden;
    position: absolute;

    .tools {
      background-color: #9ec862;
      display: flex;
      justify-content: flex-end;
      padding: 0.5rem;

      button {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 1rem;
        margin-left: 0.5rem;
      }

      .move {
        position: relative;
        top: 2px;
        left: -13px;
        transform: scale(2, 2);
      }

      .colorpicker {
        position: relative;
        top: 20px;
        left: -10px;
        border-radius: 15px;
        height: 18px;

        .bi-circle {
          top: -4px;
          position: relative;
          margin: -10px;
          height: 5px;
          color: black
        }
      }

      .feedback {
        position: relative;
        top: 13px;
        left: 17px;
        transform: scale(2, 2);
      }

      .bi-check {
        color: darkgreen;
      }

      .bi-exclamation {
        color: red;
      }

      .note-group-name {
        position: relative;
        top: 12px;
      }
    }

    .note-group-name {
      font-family: 'architects_daughterregular', Arial, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: medium;
      position: absolute;
      top: -1px;
      left: 7px;
      text-decoration: underline;
    }

    .note-text {
      font-family: 'architects_daughterregular', Arial, sans-serif;
      font-weight: bold;
      font-style: normal;
      font-size: large;
      padding-top: 7px;
    }

    .main {
      padding: 20px;

      .survey-answer-vote {
        position: absolute;
        top: 315px;

        .vote-up, .vote-down {
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
  }

  .hidden {
    display: none;
  }
}
