%h5 Members

%table.users.table.table-bordered.table-striped{ data: {url: @search_url, token: @token} }
  %thead
    %tr
      %th.name Name
      %th.roles Roles
  %tbody
    - @users.each do |u|
      %tr{ data: {url: admin_user_url(u.id), id: u.id} }
        %td.user-name= u.name
        %td.user-greeter= u.get_roles.keys.collect(&:to_s).join(";")
%h5 Greeter View
