%hr
.survey-question{ id: question_css_id }
  %div{ class: question_type_class }
    = question
    - if answer?
      - if has_scale?
        .survey-question-scale-question= "Scale: #{scale_question}"
      - survey_invites.each do |invite|
        - next unless invite.started?
        = cell(Survey::Cell::SurveyReportAnswer, {survey_invite: invite, survey_question: survey_question})
