%h1 Welcome, this is the home page
%button{ type: "button", class: "btn btn-lg btn-danger", data: { "bs-toggle": "popover", "bs-content": "Amazing content, right ?" }, title: "Popover title" } Click to toggle popover

.row.default-page
  .col.dialog
    %div
      %img{ src: "/images/cute-puppy.jpg", width: "100%" }
    %p
      COming SoON!
      %br
      (ask a volunteer how to use this app)
